.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Rubik", sans-serif;
  color: #78909c;
  background: rgb(88, 180, 174);
  background: linear-gradient(
    135deg,
    rgba(88, 180, 174, 1) 0%,
    rgba(88, 180, 174, 1) 50%,
    rgba(255, 226, 119, 1) 50%,
    rgba(255, 226, 119, 1) 100%
  );
}
